<div>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="./home">WhiteBoard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="./home" routerLinkActive="active"> Home </a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">

        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link" routerLink="./login" routerLinkActive="active"> Log In </a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link" routerLink="./register" routerLinkActive="active"> Register </a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link" routerLink="./profile" routerLinkActive="active"> Profile </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
