
<div class="row">
  <div class="col-3">
    <div class="list-group text-center rounded" style="border: 2px solid black">
      <div class="bg-dark" style="color:white; padding:10px;"><h4>Modules</h4></div>
      <button [ngClass]="{'btn-dark active': module.id == moduleId}" *ngFor="let module of modules"
          class="list-group-item list-group-item-action"
          routerLink="/course/{{courseId}}/module/{{module.id}}">
        <h5>{{module.title}}</h5>
      </button>
    </div>
  </div>
  <div class="col-9">
    <app-lesson-tabs></app-lesson-tabs>
  </div>
</div>
