<div class="container-fluid">
  <h1>Sections for course: {{courseId}}</h1>
  <input [(ngModel)]="sectionName"
         placeholder="Section Name"
         class="form-control">
  <input [(ngModel)]="seats"
         placeholder="Seats available"
         class="form-control">
  <button (click)="createSection(sectionName, seats)" class="btn btn-success btn-block">
    Add Section
  </button>

  <ul class="list-group">
    <li *ngFor="let section of sections" class="list-group-item">
      {{section.name}} {{section.seats}}
      <button *ngIf="enrollment.section === 0" (click)="enroll(section._id)"
              class="float-right btn btn-primary">Enroll</button>
      <button *ngIf="enrollment.section === section._id" (click)="drop(section._id)"
              class="float-right btn btn-danger">Drop section</button>
    </li>
  </ul>

</div>
